{% if side == 'Aend' -%}
{% for item in range(FF_start_evi_ID,FF_end_evi_ID) -%}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport
{% if site_list[0].port_type == 'Y-type'-%}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport encapsulation dot1ad {{ item }} dot1q {{ item }}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport rewrite ingress tag pop 1 symmetric
{% elif site_list[0].port_type == 'P-type' -%}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport encapsulation default
{% elif site_list[0].port_type == 'X-type' -%}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport encapsulation dot1q {{ item }}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport rewrite ingress tag pop 1 symmetric
{% else -%}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport encapsulation dot1q {{ item }}
{% endif -%}
{% if QOS_REQUIRED == 'YES'and Flat_QOS == 'YES'%}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport service-policy input {{ ingress_policy_flatQOS.marker_shaper_policy }}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport service-policy output {{ eggress_policy_flatQOS.marker_policy }}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport service-policy output {{ eggress_policy_flatQOS.shaper_policy }}
{% elif QOS_REQUIRED == 'YES'and H_QOS == 'YES' -%}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport service-policy input {{ ingress_policy1.PARENT }}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport service-policy output {{ eggress_policy_flatQOS.marker_policy }}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport service-policy output {{ eggress_policy1.PARENT }}
{% else -%}
{% endif -%}
l2vpn xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }}
l2vpn xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} interface {{ site_list[0].main_interface1 }}.{{ item }}
l2vpn xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} neighbor evpn evi {{ 50000 + item|int }} target {{ 50000 + item|int }} source {{ 50000 + item|int }}
evpn evi {{ 50000 + item|int }}
{% if CCM_REQUIRED == 'y'%}
ethernet cfm domain COLT-1 level 1 id null service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} id icc-based LE {{ item }}FF
ethernet cfm domain COLT-1 level 1 id null service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} id icc-based LE {{ item }}FF continuity-check interval {{ CCM_interval }}
ethernet cfm domain COLT-1 level 1 id null service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} id icc-based LE {{ item }}FF mep crosscheck mep-id {{ site_list[0].remote_MEP }}
ethernet cfm domain COLT-1 level 1 id null service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} id icc-based LE {{ item }}FF log continuity-check errors
ethernet cfm domain COLT-1 level 1 id null service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} id icc-based LE {{ item }}FF log crosscheck errors
ethernet cfm domain COLT-1 level 1 id null service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} id icc-based LE {{ item }}FF log continuity-check mep changes
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport ethernet cfm mep domain COLT-1 service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} mep-id {{ site_list[0].local_MEP}} cos 2
{% else -%}
{% endif -%}
{% if DM_SL_REQUIRED == 'YES'%}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport ethernet cfm mep domain COLT-1 service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} mep-id {{ site_list[0].local_MEP}} sla operation profile DMM2 target mep-id {{ site_list[0].remote_MEP }}
interface {{ site_list[0].main_interface1 }}.{{ item }} l2transport ethernet cfm mep domain COLT-1 service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} mep-id {{ site_list[0].local_MEP}} sla operation profile SLM2 target mep-id {{ site_list[0].remote_MEP }}
{% else -%}
{% endif -%}
{% endfor -%}
{% elif side == 'Bend' -%}
{% for item in range(FF_start_evi_ID,FF_end_evi_ID) -%}
interface {{ site_list[1].main_interface1 }}.{{ item }} l2transport
{% if site_list[1].port_type == 'Y-type'-%}
interface {{ site_list[1].main_interface1 }}.{{ item }} l2transport encapsulation dot1ad {{ item }} dot1q {{ item }}
interface {{ site_list[1].main_interface1 }}.{{ item }} l2transport rewrite ingress tag pop 1 symmetric
{% elif site_list[1].port_type == 'P-type' -%}
interface {{ site_list[1].main_interface1 }}.{{ item }} l2transport encapsulation default
{% elif site_list[1].port_type == 'X-type' -%}
interface {{ site_list[1].main_interface1 }}.{{ item }} l2transport encapsulation dot1q {{ item }}
interface {{ site_list[1].main_interface1 }}.{{ item }} l2transport rewrite ingress tag pop 1 symmetric
{% else -%}
interface {{ site_list[1].main_interface1 }}.{{ item }} l2transport encapsulation dot1q {{ item }}
{% endif -%}
{% if QOS_REQUIRED == 'YES'and Flat_QOS == 'YES'%}
interface {{ site_list[1].main_interface1 }}.{{ item }} l2transport service-policy input {{ ingress_policy_flatQOS.marker_shaper_policy }}
interface {{ site_list[1].main_interface1 }}.{{ item }} l2transport service-policy output {{ eggress_policy_flatQOS.marker_policy }}
interface {{ site_list[1].main_interface1 }}.{{ item }} l2transport service-policy output {{ eggress_policy_flatQOS.shaper_policy }}
{% elif QOS_REQUIRED == 'YES'and H_QOS == 'YES' -%}
interface {{ site_list[1].main_interface1 }}.{{ item }} l2transport service-policy input {{ ingress_policy1.PARENT }}
interface {{ site_list[1].main_interface1 }}.{{ item }} l2transport service-policy output {{ eggress_policy_flatQOS.marker_policy }}
interface {{ site_list[1].main_interface1 }}.{{ item }} l2transport service-policy output {{ eggress_policy1.PARENT }}
{% else -%}
{% endif -%}
l2vpn xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }}
l2vpn xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} interface {{ site_list[1].main_interface1 }}.{{ item }}
l2vpn xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} neighbor evpn evi {{ 50000 + item|int }} target {{ 50000 + item|int }} source {{ 50000 + item|int }}
evpn evi {{ 50000 + item|int }}
{% if CCM_REQUIRED == 'y'%}
ethernet cfm domain COLT-1 level 1 id null service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} id icc-based LE {{ item }}FF
ethernet cfm domain COLT-1 level 1 id null service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} id icc-based LE {{ item }}FF continuity-check interval {{ CCM_interval }}
ethernet cfm domain COLT-1 level 1 id null service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} id icc-based LE {{ item }}FF mep crosscheck mep-id {{ site_list[1].remote_MEP }}
ethernet cfm domain COLT-1 level 1 id null service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} id icc-based LE {{ item }}FF log continuity-check errors
ethernet cfm domain COLT-1 level 1 id null service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} id icc-based LE {{ item }}FF log crosscheck errors
ethernet cfm domain COLT-1 level 1 id null service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} xconnect group {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} p2p {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} id icc-based LE {{ item }}FF log continuity-check mep changes
interface {{ site_list[1].main_interface1 }}.{{ item }} l2transport ethernet cfm mep domain COLT-1 service {{ ANE_ID }}-{{ BNE_ID}}_DIP_FF_{{ item }} mep-id {{ site_list[1].local_MEP}} cos 2
{% else -%}
{% endif -%}
{% endfor -%}
{% else -%}
 this is me
{% endif %}